@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("../public/fonts/AvenirNext.ttf");

}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product_card {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}

.product_card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.add-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black_btn {
  @apply inline-flex items-center px-5 py-3 mt-2 font-medium text-white transition duration-500 ease-in-out transform bg-transparent border rounded-lg bg-gray-900;
}

.red_btn {
  @apply inline-flex items-center px-5 py-3 mt-2 font-medium text-white transition duration-500 ease-in-out transform bg-transparent border rounded-lg bg-red;
}

.prod_options {
  @apply flex flex-grow justify-end flex-wrap px-3;
}

.prod_name {
  @apply text-2xl Avenir font-semibold text-gray-600 text-center;
}

.form_label{
  @apply block items-center w-full px-3 py-3 ml-2 font-medium text-black;
}

.form_input {
  @apply w-full border border-gray-600 px-3 ml-5 mr-5 py-3 mt-2 rounded-md text-gray-800 font-semibold hover:border-gray-900;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}