@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("../public/fonts/AvenirNext.ttf");

}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product_card {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product_card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


.black_btn {
  @apply inline-flex items-center px-5 py-3 mt-2 font-medium text-white transition duration-500 ease-in-out transform bg-transparent border rounded-lg bg-gray-900;
}

.prod_options {
  @apply flex flex-grow justify-end flex-wrap px-3;
}

.prod_name {
  @apply text-2xl Avenir font-semibold text-gray-600 text-center;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}